//  ------------------------------------------------------------------------------------
//  Utilities -> Settings -> Shadows
//  ------------------------------------------------------------------------------------

$shadow-standard: 0 3px 6px;
$shadow-double: 0 6px 12px;
$shadow-half: 0 1.5px 3px;

$text-shadow-standard: 0 1.5px 3px;
$text-shadow-half: 0 1px 1.5px;
