//  ------------------------------------------------------------------------------------
//  Utilities -> Settings -> Typography
//  ------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

$fa-font-path: "../fonts/font-awesome";

$font-stack: 'Lato';

//  Font sizes
//  ------------------------------------------------------------------------------------

//  Base
//  ----------
$font-size-base-desktop	: 16px;
$font-size-base-mobile	: 14px;

//  Titles
//  ----------
$font-size-h1			: 2.8rem;
$font-size-h2			: 2.4rem;
$font-size-h3			: 1.8rem;
$font-size-h4			: 1.5rem;
$font-size-h5			: 1.2rem;
$font-size-h6			: 1.0rem;

//  Text
//  ----------
$font-size-text-3xs		: 0.5rem;
$font-size-text-2xs		: 0.625rem;
$font-size-text-xs		: 0.75rem;
$font-size-text-sm		: 0.875rem;
$font-size-text			: 1.0rem;
$font-size-text-lg		: 1.125rem;
$font-size-text-xl		: 1.25rem;
$font-size-text-2xl		: 1.5rem;
$font-size-text-3xl		: 2rem;
$font-size-text-4xl		: 2.5rem;
$font-size-text-5xl		: 3rem;
$font-size-text-6xl		: 4rem;


//  Font weights
//  ------------------------------------------------------------------------------------

$font-weight-thin		: 100;
$font-weight-light		: 300;
$font-weight-normal		: 400;
$font-weight-bold		: 700;
$font-weight-black		: 900;