//  ------------------------------------------------------------------------------------
//  Component -> Carousel
//  ------------------------------------------------------------------------------------

.carousel {
	margin-bottom: spacing(md);

	&__banner {
		width: 100%;
		height: auto;
	}
}