//  ------------------------------------------------------------------------------------
//  Component -> Table
//  ------------------------------------------------------------------------------------

.table {
    border-collapse: collapse;
    width: 100%;

    &__row {
        padding: 0;

        &:nth-child(odd) {
            background-color: $color-grey-background;
        }
    }

    &__cell {
        padding: spacing(md); 
    }
}
