//  ------------------------------------------------------------------------------------
//  Component -> Tak
//  ------------------------------------------------------------------------------------

.tak {
	&__img-wrapper {
		display: flex;
		height: 100%;
		margin-right: -1 * $gutter;
	}

	&__img {
		object-fit: cover;
	}
}