//  ------------------------------------------------------------------------------------
//  Component -> Activities
//  ------------------------------------------------------------------------------------

.activities {
	&__date {
		font-weight: $font-weight-bold;
		text-align: center;
		white-space: nowrap;
	}
}
