//  ------------------------------------------------------------------------------------
//  Component -> Blog order
//  ------------------------------------------------------------------------------------
//
//  Usage example
//  -------------
//  <div class="blog-order">
//      <a href="#">up</a>
//      <a href="#">down</a>
//  </div>
//
//  Options
//  -------
//  NONE
//
//  ------------------------------------------------------------------------------------

.blog-order {
    display: flex;
    align-items: center;
    flex-direction: column;
}
