//  ------------------------------------------------------------------------------------
//  Component -> Flash message
//  ------------------------------------------------------------------------------------
//
//  Usage example
//  -------------
//  @if (session('success'))
//      <div class="flash-message flash-message--success">
//          <p class="flash-message__message">
//              <span class="fa--before"><i class="fas fa-check"></i></span>{{ session('success') }}
//          </p>
//      </div>
//  @endif
//
//  Options
//  -------
//  * flash-message--success
//  * flash-message--error
//  * flash-message--info
//  * flash-message--warning
//
//  ------------------------------------------------------------------------------------

.flash-message {
    @include border-radius;

    padding: spacing(md);
    border: 1px solid;
    margin: 0 0 spacing(md);
    
    &--success {
    	border-color: $color-alert-success-medium;
	    background-color: $color-alert-success-light;
	    color: $color-alert-success-dark;
    }
    
    &--error {
    	border-color: $color-alert-error-medium;
	    background-color: $color-alert-error-light;
	    color: $color-alert-error-dark;
    }
    
    &--info {
    	border-color: $color-alert-info-medium;
	    background-color: $color-alert-info-light;
	    color: $color-alert-info-dark;
    }
    
    &--warning {
    	border-color: $color-alert-warning-medium;
	    background-color: $color-alert-warning-light;
	    color: $color-alert-warning-dark;
    }

	&__message {
		margin-bottom: 0;
	}
}
