// ----------------
// Password feedback
// ----------------

#passwordFeedbackConfirmWrong {
    display: none;
}

.password-feedback {
	display: block;
	margin: spacing(xxs) 0 spacing(md);

    &__option {
        display: block;
    }

    &__icon {
        opacity: 0;
    }

    &--inline {
        .password-feedback {
            &__option {
                display: inline;
            }
        }
    }

    &--active {
        color: $color-alert-success-dark;

        .password-feedback {
            &__icon--active {
                opacity: 1;
            }
        }
    }

    &--wrong {
        color: $color-alert-error-dark;

        .password-feedback {
            &__icon--wrong {
                opacity: 1;
            }
        }
    }
}