//  ------------------------------------------------------------------------------------
//  Component -> Social
//  ------------------------------------------------------------------------------------

.social {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
	
	@include mq(md) {
		justify-content: flex-start;
	}

	&__item {
		margin-right: $gutter;
		
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		color: $color-blue;
		
		&--facebook {
			color: $color-facebook;
		}
		&--instagram {
			color: $color-instagram;
		}

		&--google {
			 color: $color-google;
		}

		&--mail {
			color: $color-grey-dark;
		}
	}
}
