//  ------------------------------------------------------------------------------------
//  Component -> Table
//  ------------------------------------------------------------------------------------

.wrapper__table {
    overflow-x: scroll;
    padding-bottom: spacing(sm);
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid $color-grey-background;

    &__row {
        padding: 0;

        &:nth-child(odd) {
            background-color: $color-grey-background;
        }

        thead & {
            border-bottom: 2px solid $color-grey-light;
            background-color: $color-white !important;
            
            &--normal-border-bottom {
                border-bottom: 1px solid $color-grey-extra-light;
            }
        }
    }

    &__cell {
        padding: spacing(md);
        
        text-align: left;
        
        thead & {
            font-weight: $font-weight-bold;
        }

        &--border-right {
            border-right: 2px solid $color-grey-light;
        }

        &--align-right {
            text-align: right;
        }
    }
}
