//  ------------------------------------------------------------------------------------
//  Component -> Tags
//  ------------------------------------------------------------------------------------

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    &--centered {
        justify-content: center;
    }
    
    &--right {
        justify-content: flex-end;
    }

    &--wide-both-sides {
        .tags {
            &__item {
                margin: 0 spacing(md) spacing(sm) !important;
            }
        }
    }
    
    &__tag {
        @include border-radius;

        border: 1px solid;
        list-style: none;
        padding: spacing(xs) spacing(sm);
        margin-right: spacing(xs);
        margin-bottom: spacing(xs);
        
        &:last-of-type {
            margin-right: 0;
        }
        
        &--is-link {
            cursor: pointer;
        }
    }
}
