//  ------------------------------------------------------------------------------------
//  Layout -> Header
//  ------------------------------------------------------------------------------------

.header {
	@include shadow-standard;
	
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 1000000;
	background-color: $color-white;

	&__inner {
		display: flex;
		justify-content: space-between;

		height: $header-height;
	}
}
