//  ------------------------------------------------------------------------------------
//  Layout -> Footer navigation
//  ------------------------------------------------------------------------------------

.footer-nav {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 0 2rem 0 0;
	margin: 0;
	
	text-align: center;
	
	@include mq(md) {
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	
	&__item {
		margin: 1rem 0;
	    
		list-style: none;
		
		&:first-child {
			margin-top: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}

		@include mq(md) {
			margin: 0;
		}
	}
	
	&__sublist {
		padding: 0;
		margin: 1rem 0;
	}

	&__link {
		text-decoration: none;

		&--parent {
			font-size: $font-size-h5;
			font-weight: $font-weight-bold;
		}
	}
}
