//  ------------------------------------------------------------------------------------
//  Theme -> Default -> Color schemes
//  ------------------------------------------------------------------------------------

//  General color scheme
//  ------------------------------------------------------------------------------------

.cs-white {
	@include shadow-standard;

	background-color: $color-white;
}

.cs-grey-extra-light {
	background-color: $color-grey-extra-light;
}

.cs-bevers,
.cs-welpen,
.cs-jonge,
.cs-oude {
	@include shadow-standard;
}
.cs-bevers {
	background-color: $color-yellow;
}
.cs-welpen {
	background-color: $color-mint;
}
.cs-jonge {
	background-color: $color-salmon;
}
.cs-oude {
	background-color: $color-blue-light;
}
