//  ------------------------------------------------------------------------------------
//  Theme -> Default -> Color schemes
//  ------------------------------------------------------------------------------------

//  General color scheme
//  ------------------------------------------------------------------------------------

.cs-white {
	@include shadow-standard;

	background-color: $color-white;
}

.cs-grey-extra-light {
	background-color: $color-grey-extra-light;
}

.cs-grey-dark {
	background-color: $color-grey-extra-dark;
	
	color: $color-white;
	
	a {
		color: $color-white;
		
		&:hover {
			color: $color-yellow-light;
		}
	}
}

.cs-yellow,
.cs-mint,
.cs-salmon,
.cs-blue-light {
	@include shadow-standard;
}
.cs-yellow {
	background-color: $color-yellow;

	h1, h2, h3, h4, h5, h6 {
		color: $color-yellow-title;
	}
	p, a, li {
		color: $color-yellow-text;
	}
}
.cs-mint {
	background-color: $color-mint;

	h1, h2, h3, h4, h5, h6 {
		color: $color-mint-title;
	}
	p, a, li {
		color: $color-mint-text;
	}
}
.cs-salmon {
	background-color: $color-salmon;

	h1, h2, h3, h4, h5, h6 {
		color: $color-salmon-title;
	}
	p, a, li {
		color: $color-salmon-text;
	}
}
.cs-blue-light {
	background-color: $color-blue-light;

	h1, h2, h3, h4, h5, h6 {
		color: $color-blue-light-title;
	}
	p, a, li {
		color: $color-blue-light-text;
	}
}
