//  ------------------------------------------------------------------------------------
//  Utilities -> Settings -> Colors
//  ------------------------------------------------------------------------------------
//
//  Table of content:
//  -----------------
//  * Basic colors
//  * Primary and secondairy color
//  * Tertiary colors
//  * Alert colors
//  * Shadow colors
//
//  ------------------------------------------------------------------------------------



//  Basic colors
//  ------------------------------------------------------------------------------------

//  Black & White
//  ----------
$color-white                    : #fff !default;
$color-black                    : #b2b2b2 !default;

//  Greys
//  ----------
$color-grey-background-light    : #f8f8f8;
$color-grey-background          : #f4f4f4;
$color-grey-extra-light         : #e2e3e5;
$color-grey-light               : #afafaf;
$color-grey-medium              : #828282;
$color-grey-dark                : #666;
$color-grey-extra-dark          : #383d41;

//  Primary and secondairy color
//  ------------------------------------------------------------------------------------

$color-green					: #c9dd03;
$color-blue						: #00549f;

$color-mint						: hsla(180, 33%, 70%, 1);		// Welpen
$color-red						: #eb5961;
$color-salmon					: hsla(13, 83%, 75%, 1);		// Jonge
$color-yellow					: hsla(50, 100%, 70%, 1);		// Bevers
$color-green-dark				: #31846a;
$color-blue-light				: hsla(195, 63%, 68%, 1);		// Oude
$color-brown					: #bf9003;
$color-yellow-light				: #fcf8ba;

$color-mint-title				: hsla(180, 20%, 24%, 1);
$color-mint-text				: hsla(180, 20%, 32%, 1);
$color-salmon-title				: hsla(13, 25%, 24%, 1);
$color-salmon-text				: hsla(13, 25%, 32%, 1);
$color-yellow-title				: hsla(50, 25%, 24%, 1);
$color-yellow-text				: hsla(50, 25%, 32%, 1);
$color-blue-light-title			: hsla(195, 25%, 24%, 1);
$color-blue-light-text			: hsla(195, 25%, 32%, 1);

//  Tertiary colors
//  ------------------------------------------------------------------------------------

$color-gold						: #daa520;
$color-silver					: #c0c0c0;
$color-bronze					: hsla(39, 26%, 45%, 1);

//  Alert colors
//  ------------------------------------------------------------------------------------

//  Success
//  ----------
$color-alert-success-light		: #dff0d8;						//  background color
$color-alert-success-medium		: #d0e9c6;						//  border color
$color-alert-success-dark		: #3c763d;						//  color

//  Error
//  ----------
$color-alert-error-light		: #a94442;						//  background color
$color-alert-error-medium		: #f2dede;						//  border color
$color-alert-error-dark			: #ebcccc;						//  color

//  Info
//  ----------
$color-alert-info-light			: #31708f;						//  background color
$color-alert-info-medium		: #d9edf7;						//  border color
$color-alert-info-dark			: #bcdff1;						//  color

//  Warning
//  ----------
$color-alert-warning-light		: #8a6d3b;						//  background color
$color-alert-warning-medium		: #fcf8e3;						//  border color
$color-alert-warning-dark		: #faf2cc;						//  color

//  Shadow colors
//  ------------------------------------------------------------------------------------

$color-shadow					: rgba(0,0,0,.1);
$color-text-shadow				: rgba(0,0,0,.4);

//  Social colors
//  ------------------------------------------------------------------------------------

$color-facebook					: hsla(222, 47%, 40%, 1);		// #365397
$color-instagram				: hsla(208, 46%, 41%, 1);		// #396d9a
$color-google					: hsla(217, 89%, 61%, 1);		// #4285f4
