//  ------------------------------------------------------------------------------------
//  Layout -> Footer
//  ------------------------------------------------------------------------------------

.footer {
    min-height: 5vh;
    padding: spacing(lg) 0;

    background-color: $color-grey-extra-light;
    color: $color-grey-dark;

    &--bottom {
        padding: spacing(sm) 0;
        background-color: $color-grey-medium;
    }

    &__title {
        margin-top: 0;

        font-size: $font-size-h4;
    }

    &__section {
        margin-bottom: spacing(lg);
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}
