//  ------------------------------------------------------------------------------------
//  Layout -> Footer
//  ------------------------------------------------------------------------------------

.footer {
    min-height: 5vh;

	background-color: $color-grey-extra-light;
	color: $color-grey-dark;

	&__title {
		margin-top: 0;

		font-size: $font-size-h4;
	}

	&__extra {
		background-color: $color-grey-medium;
	}
}
