//  ------------------------------------------------------------------------------------
//  Layout -> Footer
//  ------------------------------------------------------------------------------------

.footer {
	background-color: $color-grey-extra-light;
	color: $color-grey-dark;

	&__title {
		margin-top: 0;

		font-size: $font-size-h4;
	}
}
