//  ------------------------------------------------------------------------------------
//  Layout -> Main
//  ------------------------------------------------------------------------------------

.main {
	min-height: 95vh;
	padding-top: spacing(xl) + spacing(md);
	
	@include mq(md) {
		padding-top: spacing(xl) + spacing(lg);
	}
}
