//  ------------------------------------------------------------------------------------
//  Component -> Button
//  ------------------------------------------------------------------------------------
//
//  Usage example
//  -------------
//  <a href="#" class="btn btn--primary">See more</a>
//
//  <div class="wrapper__btn wrapper__btn--centered">
//      <a href="#" class="btn btn--primary">Find out more</a>
//  </div>
//
//  Options
//  -------
//  * wrapper__btn--left
//  * wrapper__btn--centered
//  * wrapper__btn--right
//
//  * btn--primary
//  * btn--secundairy
//  * btn--tertiary
//
//  ------------------------------------------------------------------------------------

.wrapper__btn {
    width: 100%;
    display: flex;

    &--left {
        justify-content: flex-start;
    }
    &--centered {
        justify-content: center;
    }
    &--right {
        justify-content: flex-end;
    }
}

.btn {
    @include border-radius;
    @include shadow-standard;
    @include transitions(fast);

    display: inline-block;
    padding: spacing(sm) spacing(md);
    margin-left: spacing(sm);

    text-decoration: none;

    cursor: pointer;

    &:hover {
        @include shadow-half;
    }

    &:active {
        @include shadow-none;
    }

    &:first-child {
        margin-left: 0;
    }

    &--tertiary {
        @include shadow-none;
        
        padding-left: spacing(sm);
        padding-right: spacing(sm);
        
        &:hover {
            @include shadow-none;
        }
    }

    &--big {
        padding: spacing(md) spacing(lg);

        font-size: $font-size-text-xl;
    }

    &--without-style {
        @include shadow-none;

        padding: 0;
        border: 0;
        margin: 0;
        

        &:hover {
            @include shadow-none;
        }
    }
}
