//  ------------------------------------------------------------------------------------
//  Component -> Carousel
//  ------------------------------------------------------------------------------------

.carousel {
	margin-left: -1 * ($gutter / 2);
	margin-right: -1 * ($gutter / 2);

	&__banner {
		width: 100%;
		height: auto;
	}
}