//  ------------------------------------------------------------------------------------
//  Component -> Card
//  ------------------------------------------------------------------------------------

.card {
    @include border-radius;

    position: relative;
    width: 100%;
    height: auto;
    padding: $gutter / 2;
}
