//  ------------------------------------------------------------------------------------
//  Component -> Evenement bar
//  ------------------------------------------------------------------------------------

.evenement-bar {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: spacing(xl);

        text-align: center;
    }

    &__icon {
        margin-bottom: spacing(sm);

        font-size: spacing(lg) + spacing(md);
        color: $color-grey-extra-light;
    } 
}