//  ------------------------------------------------------------------------------------
//  Component -> Evenement bar
//  ------------------------------------------------------------------------------------

.evenement-bar {
	display: flex;
    align-items: center;
    // justify-content: center;
    padding: spacing(md);
    margin: (-1 * spacing(md)) (-1 * spacing(md)) spacing(lg);
    border-bottom: spacing(xs) solid $color-grey-background;
    
    &__event,
    &__datetime {
        display: block;
    }
}