// ===
// Form
// ===

.form {

    &__section {
        margin: 0 0 spacing(md);

        &--parts {
            display: flex;
        }

        &-part {
            display: inline-block;
            width: auto;

            &:not(:last-child) {
                margin-right: $gutter;
            }

            &--md {
                width: spacing(md);
            }
            &--lg {
                width: spacing(lg);
            }
            &--xl {
                width: spacing(xl);
            }
            &--xxl {
                width: spacing(xxl);
            }
        }

        &--last {
            margin-bottom: spacing(lg);
        }

        &--margin-top {
            margin-top: spacing(md);
        }
    }

    &__title {
        margin-top: 0;
    }

    &__label {
        display: block;
        margin-bottom: spacing(xs);
        
        &--inline {
            display: inline;
        }
        
        &--required {
            &:after {
                margin-left: spacing(xxs);

                content: "*";
                color: $color-alert-error-dark;
            }
        }
    }

    &__input,
    &__select,
    &__textarea,
    &__select {
        &:focus {
            border-color: $color-green;
        }

        &--full-width {
            width: 100%;
        }
    }
    
    &__input,
    &__textarea,
    &__select {
        @include border-radius;

        padding: spacing(sm) spacing(md);
        border: 1px solid $color-grey-extra-light;
        background-color: $color-white;
        
        color: $color-grey-medium;

        &:focus {
            outline: none;
        }
    }

    &__textarea {
        min-height: spacing(xl);
        resize: vertical;
        
        &--full-width {
            width: 100%;
        }
    }

    &__checkbox {
        margin-top: spacing(xs);
        margin-right: spacing(sm);
    }

    &__checkbox-wrapper {
        display: flex;
    }

    &__search {
        position: relative;

        &:after {
            @extend %fa-icon;
            @extend .fas;
            
            content: fa-content($fa-var-search);
            
            position: absolute;
            top: 0;
            right: spacing(sm);
            display: flex;
            align-items: center;
            height: 100%;
        }

        &--searching {
            &:after {
                animation: fa-spin 2s linear infinite;
                content: fa-content($fa-var-spinner);
            }
        }
    }

    &__section-feedback {
        display: block;
        margin-top: spacing(xs);
    }
}
