//  ------------------------------------------------------------------------------------
//  Component -> Leiding card
//  ------------------------------------------------------------------------------------

.leiding-card {
    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__img-wrapper {
        position: relative;
        width: 100%;
        
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__title {
        margin-top: 0;
    }
}