// ----------------
// Password feedback
// ----------------

.password-inside-feedback {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: spacing(sm);
    height: 100%;

    font-size: $font-size-text-sm;
    color: $color-white;
    
    &__parent {
        position: relative;
    }
    
    &__message {
        @include border-radius;
        @incluce transitions(fast);

        padding: spacing(xs) spacing(sm);

        &--none {
            display: none;
        }
        &--not-accepted {
            background-color: $color-grey-medium;
            .password-inside-feedback__copy--not-accepted { display: inline; }
        }
        &--denied,
        &--weak {
            background-color: #f54029;
            .password-inside-feedback__copy--denied,
            .password-inside-feedback__copy--weak { display: inline; }
        }
        &--medium {
            background-color: #f58231;
            .password-inside-feedback__copy--medium { display: inline; }
        }
        &--secure {
            background-color: $color-blue;
            .password-inside-feedback__copy--secure { display: inline; }
        }
        &--approved,
        &--strong {
            background-color: #7ed321;
            .password-inside-feedback__copy--approved,
            .password-inside-feedback__copy--strong { display: inline; }
        }
    }

    &__copy {
        display: none;
    }
}