//  ------------------------------------------------------------------------------------
//  Component -> Section
//  ------------------------------------------------------------------------------------

.section {
	margin-bottom: spacing(xl);

	&:last-child {
		margin-bottom: 0;
	}

	&--small-spacing {
		margin-bottom: spacing(lg);
	}

	&--extra-small-spacing {
		margin-bottom: spacing(md);
	}
}