//  ------------------------------------------------------------------------------------
//  Component -> volgende activiteit
//  ------------------------------------------------------------------------------------

.volgende-activiteit {
	height: 100%;
	padding: spacing(md) spacing(md) spacing(lg);
	margin-bottom: spacing(md);
	background-color: white;
	
	color: $color-grey-dark;

	&__tak {
		margin-top: 0;

		font-weight: bold;
		color: rgba($color-grey-extra-dark,.8);
	}

	&__algemene-info {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: spacing(md);
	}

	&__datum {
		margin-bottom: 0;
	}

	&__tijd,
	&__omschrijving {
		margin: 0;
	}

	&__meer {
		position: absolute;
		bottom: spacing(md);
		right: spacing(md);
	}
}
