//  ------------------------------------------------------------------------------------
//  Component -> volgende activiteit
//  ------------------------------------------------------------------------------------

.volgende-activiteit {
    margin-bottom: spacing(md);

    &__inner {
        @include transitions;

        height: 100%;
        padding: spacing(sm) spacing(md) (spacing(lg) + spacing(md));    
    }

    &__tak {
        margin-top: 0;

        font-weight: bold;
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        margin-bottom: spacing(xs);
        opacity: .5;

        font-size: $font-size-text-sm;
        
        &:last-child {
            margin-bottom: 0;
        }

        &--active {
            opacity: 1;

            font-size: $font-size-text;
        }
    }

    &__icon {
        display: inline-block;
        min-width: spacing(md) + spacing(sm);
        opacity: .6;
    }

    &__link {
        position: absolute;
        right: spacing(md);
        bottom: spacing(sm);

        font-weight: $font-weight-bold;
        text-align: center;
    }
}
