//  ------------------------------------------------------------------------------------
//  Component -> volgende activiteit
//  ------------------------------------------------------------------------------------

.volgende-activiteit {
    margin-bottom: spacing(md);

    &:hover {
        .volgende-activiteit {
            &__inner,
            &__info,
            &__link {
                transition-delay: 0s;
            }

            &__inner {
                padding-bottom: spacing(lg);
            }

            &__info {
                max-height: spacing(xxl);
                height: auto;
                margin-bottom: spacing(sm);
            }

            &__link {
                opacity: 1;
            }
        }
    }

    &__inner {
        @include transitions(fast);
        transition-delay: .6s;

        height: 100%;
        padding: spacing(sm) spacing(md) spacing(md);    
    }

    &__tak {
        margin-top: 0;

        font-weight: bold;
    }

    &__info {
        @include transitions;
        transition-delay: .6s;

        display: flex;
        justify-content: flex-start;
        max-height: 0;
        opacity: .5;
        overflow: hidden;

        font-size: $font-size-text-sm;

        &--active {
            max-height: spacing(xxl);
            margin-bottom: spacing(xs);
            opacity: 1;

            font-size: $font-size-text;
        
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__icon {
        display: inline-block;
        min-width: spacing(md) + spacing(sm);
        opacity: .6;
    }

    &__link {
        @include transitions(fast);
        transition-delay: .6s;

        position: absolute;
        right: spacing(md);
        bottom: spacing(sm);
        opacity: 0;

        font-weight: $font-weight-bold;
        text-align: center;
    }
}
