//  ------------------------------------------------------------------------------------
//  Utilities -> Settings -> Colors
//  ------------------------------------------------------------------------------------
//
//  Table of content:
//  -----------------
//  * Basic colors
//  * Primary and secondairy color
//  * Tertiary colors
//  * Alert colors
//  * Shadow colors
//
//  ------------------------------------------------------------------------------------



//  Basic colors
//  ------------------------------------------------------------------------------------

//  Black & White
//  ----------
$color-white                    : #fff !default;
$color-black                    : #000 !default;

//  Greys
//  ----------
$color-grey-background-light    : "#f8f8f8";
$color-grey-background          : "#f4f4f4";
$color-grey-extra-light         : "#e2e3e5";
$color-grey-light               : "#afafaf";
$color-grey-medium              : "#828282";
$color-grey-dark                : "#666";
$color-grey-extra-dark          : "#383d41";

//  Primary and secondairy color
//  ------------------------------------------------------------------------------------
$color-green: #C9DD03;
//  Tertiary colors
//  ------------------------------------------------------------------------------------

$color-gold                     : #daa520;
$color-silver                   : #c0c0c0;
$color-bronze                   : hsl(39, 26%, 45%);

//  Alert colors
//  ------------------------------------------------------------------------------------

//  Success
//  ----------
$color-alert-success-light      : #dff0d8;     //  background color
$color-alert-success-medium     : #d0e9c6;    //  border color
$color-alert-success-dark       : #3c763d;      //  color

//  Error
//  ----------
$color-alert-error-light        : #a94442;     //  background color
$color-alert-error-medium       : #f2dede;    //  border color
$color-alert-error-dark         : #ebcccc;      //  color

//  Info
//  ----------
$color-alert-info-light         : #31708f;     //  background color
$color-alert-info-medium        : #d9edf7;    //  border color
$color-alert-info-dark          : #bcdff1;      //  color

//  Warning
//  ----------
$color-alert-warning-light      : #8a6d3b;     //  background color
$color-alert-warning-medium     : #fcf8e3;    //  border color
$color-alert-warning-dark       : #faf2cc;      //  color

//  Shadow colors
//  ------------------------------------------------------------------------------------

$color-shadow                   : rgba(0,0,0,.1);
$color-text-shadow              : rgba(0,0,0,.4);
