//  ------------------------------------------------------------------------------------
//  Paths
//  ------------------------------------------------------------------------------------

$path-src: '../';

$path-images: $path-src + 'img/';
$path-fonts: $path-src + 'fonts/';
